
.select2-container .select2-selection--single {
    height: calc(2.75rem + 2px);
    padding: .625rem .75rem;
    border: 0;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(2.75rem + 2px);
}
.select2-dropdown {
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
    border: 0;
}
body {
    position: relative;
    background-color: #e9f5ff;
    padding-bottom: 50px;
}
footer {
    padding: 20px 30px;
    width: 100%;
    border-top: 1px solid #f2f2f2;
    color: #a9adb1;
    position: absolute;
    bottom: 0;
}

.white-block {
    background: #fff;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 6px;
    border: solid 1px #f5f5f5;
    padding: 25px 15px 10px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00c4ff; 
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.block-profile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.img-profile {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0 0 5px #000;
}
.img-100 {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}
.inf-profile {
    padding-left: 16px;
}
.inf-profile p {
    margin-bottom: 0;
    font-size: 12px;color: #000;
    line-height: 120%;
}
.inf-profile p:first-child {
    font-weight: 700;
    font-size: 16px;
}
/***** */
.prof-tabs {
    padding-left: 0;
    list-style: none;
}
.prof-menu a{
    padding: 9px 10px 13px 21px;
}
.prof-menu i {
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-right: 15px;
        display: inline-block;
    vertical-align: middle;
}
.prof-menu span {
        display: inline-block;
    vertical-align: middle;
    font-weight: 600;
    margin-bottom: -2px;
}
.prof-menu span b{
    font-weight: 400;
    font-size: 0.8em;
}
.prof-menu a.active {
    background-color: #edf4fa;
    -webkit-box-shadow: inset 3px 0 0 #1da5de;
    box-shadow: inset 3px 0 0 #1da5de;
}

.row.card {
    margin: 0;
    flex-direction: row;
        padding: 16px;
        margin-bottom: 10px;
        transition: 0.3s all ease;
}
.row.card:hover {
    box-shadow: 0 0 20px #d4d4d4;
}
.row.card svg {
    position: relative;
    left: 0;
}
.row.card:hover svg {
    left: -2px;
} 
.row.card:hover p { 
    top: 2px;
}
.row.card:hover p.subject-title {
    top: 2px;
    font-size: 1.1em;
}
.subject p.subject-title {
    font-weight: 700;
}
.subject p {
    margin-bottom: 0;
    top: 0;
    position: relative;
    color: #000;
    transition: 0.3s all ease;
}


/*******/

.wrapper {
    width: 100%;
    margin: 0 auto;
    border-radius: 15px;
    background: #fff;
   /* border: 2px solid #f0f0f0;*/
    margin-top: 5vh;
    min-height: 90vh;
    position: relative;
    overflow: hidden;
}

@media(min-width: 768px) {
    .wrapper {
        width: 740px;
    }
}
@media(min-width: 1024px) {
    .wrapper {
        width: 960px;
    }
}
@media(min-width: 1200px) {
    .wrapper {
        width: 1140px;
    }
}
@media(min-width: 1340px) {
    .wrapper {
        width: 80vw;
        min-width: 1200px;
    }
}
.ms .navbar-nav {
    width: 300px;
}
.ms {
    width: 70px;
    height: 95vh;
    position: absolute;
    border-right: 2px solid #f3f3f3;
    transition: 0.3s all ease;
    background: #fff;
    left: 0;
    z-index: 2;
    overflow: hidden;
}
.subwrapper {
    margin-left: 70px;
}

body.menu-open  .ms{
    width: 300px;
}
.main-content {
    margin-left: 0;
    transition: 0.25s all ease;
}
.ms .navbar-nav {
    margin-top: 10px;
}
.ms .navbar-nav .nav-link {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.ms .navbar-nav .nav-link i {
    width: 38px;
    padding: 10px 15px;
    /* display: block; */
    box-sizing: content-box;
    text-align: center;
    border-left: 2px solid #fff;
    font-size: 22px;
    transition: all 0.3s ease;
}
.ms .navbar-nav .nav-link.active  i {
    border-left: 2px solid #00b7f4;
}
#sidenav-open {
        font-size: 22px;
    color: #00b7f4;width: 100%;
    padding: 20px 0;
}
.nav-link:hover {
    color: #00b7f4;
}
.nav-link .text-primary {
    color: #e5e5e5 !important;
}
.nav-link:hover .text-primary,
.nav-link.active .text-primary {
    color: #00b7f4 !important;
}

.welcome-img {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
    border-radius: 10px;
}
@media(min-width: 576px){
   .welcome-img {
        width: 300px;
    } 
}
@media(min-width: 1024px){
   .welcome-img {
        width: 500px;
    } 
}

.btn {
    font-size: .875rem;
    position: relative;
    transition: all .15s ease;
    letter-spacing: .025em;
    text-transform: none;
    will-change: transform;
}
.btn-success {
    color: #48cc68;
    border-color: #42ca66;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}.btn:hover {
    transform: translateY(-1px);
box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}.btn-success:hover {
    color: #fff;
    border-color: #42ca66;
    background-color: #42ca66;
}
@media(min-width: 568px) {
    .only-mob {
        display: none !important;
    }
    body.mbp {
        margin-bottom: 60px;
    }
    .wrapper {
        padding-bottom: 0;
    }

}
@media(max-width: 567px) {
    .flexer {
        display: none !important;
    }
    .wrapper {
        margin-top: 0;
        padding-bottom: 60px;
    }
    body {
        padding-bottom: 0;
    }
    .subwrapper {
        margin-left: 0;
    }
    .navbar-vertical {
        width: 100%;
    left: 0;}
    .ms {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 60px;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        box-shadow: 0 0 3px #dcdcdc;
    }
    #sidenav-open {
        display: none;
    }
    .ms .navbar-nav {
        flex-direction: row;
        width: 100%;
        margin-top: 0;
    }
    .ms .navbar-nav .nav-link {
        width: 100%;
        box-sizing: border-box;
        flex-direction: column;
        padding: 0;
    }
    .ms .navbar-nav .nav-link.active i {
        border-left: none;
    }
    .ms .nav-link span {
        font-size: 10px;
    }
    .navbar-toggler {
        display: none;
    }
}

.navbar-horizontal .navbar-brand img {
    height: 33px;
}
#sidenav-open {
    width: 70px;
}
.flexer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    width: 300px;
}
.flexer img {
    height: 35px;
}
.navbar-top {
    border-bottom: 2px solid #f3f3f3;
}


/***** stud marks ****/

.mark-btn {
    padding: 0.3rem 0.75rem;
    border-radius: 0;
    border: none !important;
}
.notification {
    color: #eee;
}
.notification span {
    width: 8px;
    height: 8px;
    display: inline-block;
    background: #8bc34a;
    animation: greenlight 2s ease infinite;
    border-radius: 50%;
    position: relative;
    top: -2px;
}
@keyframes greenlight {
    from {
        
    }
    50% {
        box-shadow: 0 0 5px #8bc34a;
    }
    to {

    }
}

.mark-btn[data-id="1"] {background: #4caf50;}
.mark-btn[data-id="2"] {background: #8bc34a;}
.mark-btn[data-id="3"] {background: #ff7600;}
.mark-btn[data-id="4"] {background: #ff3131;}
.mark-btn[data-id="5"] {background: #111;}



/******* */

.lesson-block {
    box-shadow: 0 0 20px #f0f0f0;
    padding: 2px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
}
.lesson-block > div  {
    padding: 10px;
    font-weight: 700;
}
.lesson-block .title-grade {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.lesson-block .cabinet-timing {
    display: flex;
    flex-direction: column;
}
.lesson-block .title-grade .grade {
    font-weight: 400;
    font-size: 12px;
    color: #aaa;
}
.lesson-block .cabinet-timing .timing {
    font-weight: 400;
    font-size: 12px;
    color: #aaa;
}
.lesson-block .number {
    display: flex;
    align-items: center;
    padding: 5px 15px;
}


.weekdays {
    margin: 20px 0 25px;
}
.weekdays a {
    padding: 15px;
    background: #fff;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px #f0f0f0;
}

.weekdays a.active {
    background: #1dcf7d;
    color: #fff;
}
.spec-col {
    padding: 0 20px;
}

.weekday-blocks a {
    color: black;
    font-weight: 400;
    padding: 10px 15px 10px 0;
}
.weekday-blocks a.active {
    font-weight: 700;
}
.grey-block {
    background: #f0f0f0;
}
.cont-p .row {
    margin-left: 0;
    margin-right: 0;
        min-height: 84vh;
}
.col-p {
    padding-top: 20px;
    padding-bottom: 20px;
}